@{
    Layout = "_UserLayout";
}


<style>
    body {
        background-color: #f8f9fa;
    }

    .login-container {
        margin-top: 100px;
    }

    .was-validated .form-control:invalid {
        border-color: #dc3545;
    }

        .was-validated .form-control:invalid:focus {
            border-color: #dc3545;
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
        }
</style>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Whom do you want to send the survey ?</div>
            <div class="card-body">
                @if (!ViewContext.ModelState.IsValid)
                {
                    <div class="alert alert-danger" role="alert">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                }
                <form asp-action="SendSurvey" method="post" class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="email" name="Email" placeholder="Enter your Email" required>
                        <div class="invalid-feedback">Email is required.</div>
                    </div>

                    <button type="submit" class="btn btn-primary">Send Survey</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // Bootstrap's form validation script
    (function () {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false);
            });
    })();
</script>
